html{
	font-size: 100px;
}
body{
	height:100%;
	display: flex;
	flex-direction:column;
	font-size:16px;
	font-family: "微软雅黑"; 
}

header{
	height:0.45rem;
	width:100%;
	display:flex;
	flex-direction:row;
	background-color:rgba(200,21,34,1);
	align-items:center;
	justify-content:space-around;
	position:fixed;
	z-index:99;
}
header span{
	width:0.56rem;
	height:0.3rem;
	display:block;
	background:url(../IMG/logo.png) no-repeat ;
	background-size:cover;
}
header div{
	display:flex;
	flex-direction:row;
	width:2.89rem;
	height:0.3rem;
	background:#fff;
	border-radius:0.15rem;
	align-items:center;
}
header div i{
	width:0.2rem;
	height:0.2rem;
	display:block;
	background:url(../IMG/icon1.png) no-repeat;
	background-size:cover;
	margin:0 8px;
}
header div p{
	font:0.13rem;
	color:#B0B4BA;
}
header a{
	color:#fff;
}



section.hot{
	width:100%;
	height:2.2rem;
	position:relative;
	overflow:hidden;
}
.hot ul{
	width:800%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:flex;
	flex-direction:row;
	transition:1s;
	position:absolute;
	top:0;
	left:0;
}
.hot ul li{
	width:100%;
	height:100%;
	float:left;
}
.hot ul li img{
	width:100%;
	height:100%;
}
.hot ol{
	width:0.9rem;
	height:0.07rem;
	display:flex;
	flex-direction:row;
	position:absolute;
	left:50%;
	margin-left:-0.45rem;
	bottom:0.11rem;
	justify-content:space-around;
}
.hot ol li{
	width:6px;
	height:6px;
	border:0.01rem solid #fff;
	border-radius:50%;
	box-sizing:border-box;
}
.hot ol li.active{
	background:#fff;
}


section.menu{
	width:100%;
	height:1.5rem;
	background:url(../IMG/bj1.jpg) no-repeat;
	background-size:cover;
	display:flex;
	flex-direction:column;
	padding:0.1rem 0;
}
.menuT,.menuB{
	height:0.875rem;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.menuT section,.menuB section{
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
}
.menuT section img,.menuB section img{
	width:0.42rem;
	height:0.42rem;
}
.menuT section span,.menuB section span{
	font-size:0.13rem;
	color:black;
}

section.libox{
	display:flex;
	flex-direction:row;
	width:100%;
	height:1.53rem;
}
section.libox img{
	width:1.38rem;
}

.year{
	width:100%;
	height:1.27rem;
}
.year img{
	width:100%;
	height:100%;
}
.navT{
	height:2.34rem;
	background:#E6402E;
	display:flex;
	flex-direction:column;
}
.navT1,.navT2{
	height:1.17rem;
	display:flex;
	flex-direction:row;
}
.navT img{
	width:2.06rem;
}


.navB{
	height:2.6rem;
	background:#E6402E;
	display:flex;
	flex-direction:column;
	padding:0 0.01rem;
}
.navB1,.navB2{
	width:4.11rem;
	height:1.33rem;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
.navB img{
	width:1rem;
}


.life{
	height:4.11rem;
	display:flex;
	flex-direction:column;
	border-bottom:1px solid #f3f3f3;
}
.lifeT{
	height:0.43rem;
	background:url(../IMG/g1.png) no-repeat;
	background-size:cover;
}
.lifeT img{
	width:0.73rem;
	height:0.32rem;
	margin:0.11rem 0 0 1.69rem;
}
.lifeC{
	height:2.34rem;
	display:flex;
	flex-direction:column;
}
.lifeCT,.lifeCB{
	border-bottom:1px solid #f3f3f3;
	height:1.17rem;
	box-sizing:border-box;
	display:flex;
	flex-direction:row;
}
.lifeCT1,.lifeCT2,.lifeCB1,.lifeCB2{
	width:50%;
	height:100%;
	display:flex;
	flex-direction:row;
	box-sizing:border-box;
}
.lifeCTl,.lifeCTr,.lifeCBl,.lifeCBr{
	margin:0.1rem 0.1rem 0 0.1rem;
}
.lifeCT2,.lifeCB2{
	border-left:1px solid #f3f3f3;
}
.lifeC img{
	width:0.8rem;
	height:1rem;
	margin-top:0.04rem;
}
.lifeC h3{
	font-size:18px;
	font-weight:bold;
}
.lifeC p{
	font-size:14px;
	color:#6C6C6C;
	margin:0.04rem 0;
}
.lifeC span{
	display:block;
	font-size:14px;
	color:#fff;
	background:url(../IMG/bj2.png) repeat-y;
	padding:0.02rem;
	margin-top:0.04rem;
}
.lifeB{
	height:1.33rem;
	display:flex;
	flex-direction:row;
}
.lifeB section{
	width:25%;
	height:100%;
	border-right:1px solid #f3f3f3;
	box-sizing:border-box;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.lifeB section:nth-child(4){
	border:none;
}
.lifeB section img{
	width:0.68rem;
	height:0.6rem;
	margin-left:0.2rem;
}
.lifeB section h3{
	font-size:18px;
	font-weight:bold;
	margin:0.09rem  0 0.03rem 0.07rem;
}
.lifeB section p{
	font-size:14px;
	margin:0  0 0.03rem 0.07rem;
	color:#6C6C6C;
}

.tuijian{
	height:0.43rem;
	background:url(../IMG/g1.png) no-repeat;
	background-size:cover;
}
.tuijian img{
	width:0.96rem;
	height:0.2rem;
	margin:0.16rem 0 0 1.58rem;
}

.goods{
	display:flex;
	flex-direction:column;
	background:#f3f3f3;
}
.goodsBox{
	display:flex;
	flex-direction:row;
	height:2.8rem;
	margin-top:0.03rem;
	justify-content:space-between;
}
.goodsBox .left,.goodsBox .right{
	width:2.05rem;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.goodsBox  img{
	width:2.05rem;
	height:2.05rem;
}
.goodsBox span{
	font-size:14px;
	margin-left:0.04rem;
	line-height:0.19rem;
}
.goodsBox div{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.goodsBox div span:nth-child(1){
	font-size:14px;
	color:#f23030;
}
.goodsBox div span:nth-child(2){
	width:0.49rem;
	height:0.24rem;
	display:block;
	border:1px solid #e2e2e2;
	border-radius:5px;
	font-size:14px;
	color:#686868;
	text-align:center;
	line-height:0.24rem;
	margin-right:0.04rem;
}

footer{
	width:100%;
	height:0.5rem;
	background:white;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	position:fixed;
	bottom:0;
	left:0;
}
footer a{
	flex:1;
}
footer img{
	width:80%;
	height:80%;
}